html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

button {
  margin: 0px; }

a {
  text-decoration: none; }

*, *::after, *::before {
  box-sizing: border-box; }

body {
  font-family: SourceSansPro-Light;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0; }

.container {
  width: 100%;
  max-width: 1132px;
  margin: 0 auto; }

nav {
  display: flex;
  justify-content: space-between;
  padding: 30px 40px;
  background-color: #473BB1; }
  nav li {
    display: inline-block;
    margin-right: 30px; }
    nav li:last-child {
      margin-right: 0px; }

a {
  text-decoration: none; }
  a:link {
    color: #FFFFFF; }
  a:visited {
    color: #FFFFFF; }
  a:hover {
    color: rgba(255, 255, 255, 0.7); }

button {
  font-family: SourceSansPro-Regular;
  font-size: 1.125em;
  color: #FFFFFF;
  line-height: 1.333em;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: transparent;
  border-radius: 3px;
  padding: 8px 20px; }

.humble-button {
  border: none;
  color: rgba(255, 255, 255, 0.33); }

.round-button {
  border-radius: 100px; }

.pink-button {
  background-color: #E8008A;
  border: none; }

.hero {
  background-color: #473BB1;
  color: #FFFFFF; }
  .hero .container {
    display: flex;
    height: calc(100vh - 100px);
    justify-content: space-between;
    align-items: center;
    padding-bottom: 7.5vh; }
  .hero h1 {
    max-width: 495px;
    padding-bottom: 55px;
    font-family: SourceSansPro-Light;
    font-size: 3.375em;
    line-height: 1.185em;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.1); }
  .hero .action-buttons {
    margin-top: 50px; }
  .hero .social-media {
    align-self: flex-end;
    width: 104px;
    display: flex;
    justify-content: space-between; }
    .hero .social-media .faycebook-wyte g, .hero .social-media .tweeyter-wyte g, .hero .social-media .dreybull-wyte g {
      fill: rgba(255, 255, 255, 0.4); }
