@import 'reset';

body {
  background-color: #473BB1;
  font-family: SourceSansPro-Light;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0;
}

.container {
  background-color: #473BB1;
}
// ****navigation****
nav {
  display: flex;
  justify-content: space-between;
  padding: 30px;

  li {
    display: inline-block;
    margin-right: 30px;

    a {
      text-decoration: none;

      &:link {
        color: #FFFFFF;
      }

      &:visited {
        color: #FFFFFF;
      }

      &:hover {
        color: rgba(255, 255, 255, 0.70);
      }
    }
  }
// ****buttons****
  .pink-button {
    background-color: #E8008A;
  }
}
// ****landing page****
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  color: #FFFFFF;

  h1 {
    max-width: 495px;  //always a max, almost never a width because responsive
    padding-bottom: 55px;
    font-size: 3.375em;  //54px
    line-height: 1.185em; //64px
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
  }

  .action-buttons {
    margin-top: 50px;
  }

  .social-media {
    align-self: flex-end;
  }
}
