@import 'reset';

body {
  font-family: SourceSansPro-Light;
  font-size: 16px;
}

.container {
  width: 100%;  //set width to 100% to
  max-width: 1132px;  //don't want to let the container get any larger than 1132, otherwise it'll look ridiculous
  margin: 0 auto;  //center to keep from sticking to the left side of the screen
}

// ****navigation****
nav {
  display: flex;
  justify-content: space-between;
  padding: 30px 40px;
  background-color: #473BB1;  //added background-color on nav rather than body because nav is static, but same as hero

  li {
    display: inline-block;
    margin-right: 30px;

    &:last-child {
      margin-right: 0px;
    }
  }
}

  a {
    text-decoration: none;

    &:link {
      color: #FFFFFF;
    }

    &:visited {
      color: #FFFFFF;
    }

    &:hover {
      color: rgba(255, 255, 255, 0.70);
    }
  }

// ****buttons****
button {
  padding: 8px 20px;
  font-family: SourceSansPro-Regular;
  font-size: 1.125em;  //18px
  color: #FFFFFF;
  line-height: 1.333em;  //24px
  border: 1px solid rgba(255, 255, 255, 0.20);
  border-radius: 3px;
  background-color: transparent;
  cursor: pointer;
}

.humble-button {  //not the main button, but the second main one
  border: none;
  color: rgba(255, 255, 255, 0.33);
}

.round-button {
  border-radius: 100px;
}

.pink-button {
  background-color: #E8008A;
  border: none;
}

// ****landing page****
.hero {
  background-color: #473BB1;
  color: #FFFFFF;

  .container {
    display: flex;
    height: calc(100vh - 100px);  //subtract height of the navigation so it's not too tall, the navigation was forcing the container down 100 px
    justify-content: space-between;
    align-items: center;
    padding-bottom: 7.5vh;  //to create space between the social-media and bottom of the window
  }

  h1 {
    max-width: 495px;  //always a max, almost never a width because responsive
    padding-bottom: 55px;
    font-family: SourceSansPro-Light;
    font-size: 3.375em;  //54px
    line-height: 1.185em; //64px
    border-bottom: 0.50px solid rgba(255, 255, 255, 0.10);
  }

  .action-buttons {
    margin-top: 50px;
  }

  .social-media {
    display: flex;
    align-self: flex-end;
    justify-content: space-between;
    width: 104px;  //set a width so flex could be set, to put space between the icons, tried to set max-width, but didn't work


    .faycebook-wyte g, .tweeyter-wyte g, .dreybull-wyte g {  //had to be more specific in order for the opacity to come through
      fill: rgba(255, 255, 255, 0.40);
    }
  }
}

.spaycer {  //section class to add padding to top and bottom, created separate class so it could be used elsewhere on the site
  padding: 130px 0px;
}

.membership-development {
  display: flex;
  justify-content: space-between;

  h2 {
    width: 50%;
    font-size: 2.500em;  //40px
    line-height: 1.300em;  //52px
    color: #000000;
  }

  p {
    width: 50%;
    font-size: 1.125em;  //18px
    color: #666666;
    line-height: 1.444em; //26px
  }
}

.membership-feature--collection {
  display: flex;
  margin-top: 170px;

  .feature {
    margin-right: 65px;
    text-align: center; //apply text align to parent of an svg rather than the svg itself, otherwise it won't go through
    line-height: 1.375em;  //22px

    &:last-child {
      margin-right: 0px;
    }

    .poop {
      margin-bottom: 35px;
    }

    p {
      max-width: 230px;
    }
  }
}

.business-kit {
  height: 100vh;
  background: url(../images/byissiness-kit.jpg) no-repeat left top;

  .order {
    display: inline-block;
    max-width: 455px;
    margin: 178px 0px 148px 178px;
    padding: 100px 70px;
    text-align: center;
    border-radius: 10px;
    background-color: #FFFFFF;

    h2 {
      margin-bottom: 15px;
      font-size: 2.500em;  //40px
      color: #000000;
      line-height: 1.300em;  //52px
    }

    p {
      margin-bottom: 40px;
      font-family: SourceSansPro-Regular;
      font-size: 1.125em;  //18px;
      color: #666666;
      line-height: 1.444em;  //26px
    }

    button {
      padding: 12px 35px;
    }
  }
}
